$primary-color-light: #4d1d88;
$dark-color-light: #12005e;
$light-color-light: #62727b;
$secondary-color-light: #f8bbd0;

$text_primary-color-light: #efebe9;
$text_secondary-color-light: #82579b;

$white: #f4eeee;
