@import "../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  height: inherit;
}

.wrapper {
  flex: 1;
  background-color: $primary-color-light;

  h2 {
    padding: 2rem;
    font-size: 2rem;
    color: $white;
  }
}

.form {
  flex: 1;

  .fieldset {
    position: relative;
    top: 50%;
    max-width: 400px;
    margin: 0 auto;
    border: none;
    transform: translateY(-50%);

    & > * {
      padding-bottom: 0.6rem;
    }
  }

  legend {
    font-size: 1.2rem;
    color: $text_secondary-color-light;
  }

  input {
    width: 100%;
  }

  .action {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    button {
      margin-right: 0.3rem;
    }
  }
}
